.donation-page-design{
    background-color: #e6c79c;
    background-color: #809edf;
    background-image: linear-gradient(147deg, #c3cbdc 12%, #edf1f4 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.donation-page-design .userName{
color: rgb(39, 58, 134);
font-size:2rem;
font-weight: 500;
padding-top: 1rem;
}
.donation-page-design .detail-wrapper{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donation-page-design .detail-wrapper>img{
    width: 100vw;
    height:100vh;
}

.donation-page-design .details-container{
    background-color: rgb(100, 199, 242);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: center;
    border-radius: 0.8rem;
    border-color: rgb(5, 5, 54);
    /* border-width: 5rem; */
}
.donation-page-design .details-container .label-input{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    /* padding-top: 2rem; */
}

.donation-page-design .details-container div label{
    width: 30%;
    color: darkblue;;
    font-size:1.2rem;
    font-weight: 600;
}

.donation-page-design .details-container div input{
    width: 30%;
    height:1.2rem;
    font-size: 1rem;
    font-weight: 400;
    color: black;
    background-color: white;
}
.donation-page-design .details-container .donar_button{
    /* background-color: darkblue; */

    padding-top: 2rem;
}
.donation-page-design .details-container button{
    background-color: darkblue;
    width:15rem;
    height: 3rem;
    border-radius: 0.4rem;
    border-color:  darkblue;
    color: white;
    font-size: 1rem;
    font-weight: 400;
}