
/* .details-container .donar_button button{
width: 15rem;
height: 2rem;
background-color:  #7b9dd4;
color: rgb(10, 65, 77);
font-size: 1rem;
font-weight: 500;
border-radius:0.5rem;
border: none;
}

button:hover{
    background-color:  #646464;
}

.details-container label{
 color: rgb(36, 36, 79);
 font-weight: 600;
}

.details-container input{
    color: rgb(36, 36, 79);
background-color:  rgb(105, 105, 144);
   } */




   /* recipent */



.userName{
    color: rgb(39, 58, 134);
    font-size:2rem;
    font-weight: 500;
    padding-top: 1rem;
}