.recepientViewRequests{
    background-color: #e6c79c;
    background-color: #809edf;
    background-image: linear-gradient(147deg, #c3cbdc 12%, #edf1f4 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.recepientViewRequests .userName{
    color: rgb(39, 58, 134);
    font-size:2rem;
    font-weight: 500;
    padding-top: 1rem;
}

